<div class="about__section">
    <div class="container">
        <div class="about__heading">
            <span>About</span>
        </div>
        <div class="about__content">
            <div class="left">
                <div class="left__shape">
                    <img src="../../assets/Polygon 2 (2).png" alt="">
                </div>
            </div>
            <div class="right">
                <div class="right__content">
                    <span>ABOUT <span class="change__color">ME</span> </span>
                    <h1><span>FULLSTACK </span> DEVELOPER<br>
                        AND <span>UI/UX</span> DESIGNER
                    </h1>
                    <span>Hello!, 
                        I am a passionate and dedicated full-stack developer 
                        specializing in Spring Boot and Angular. With a strong foundation 
                        in both back-end and front-end development, I strive to create 
                        efficient, scalable, and user-friendly applications. My experience spans
                         various projects where I've utilized my skills to solve complex problems
                          and deliver high-quality software solutions. 
                        I am always eager to learn and stay updated with the latest industry 
                        trends and technologies.
                    </span>
                </div>
                <div class="about__btn">
                    <button>
                        DOWNLOAD CV 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 255,255, 1);"><path d="M19 9h-4V3H9v6H5l7 8zM4 19h16v2H4z"></path></svg>
                    </button>
                    <button>
                        SEE MY WORKS
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 255, 255, 1);"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>