.footer{
    height: 10vh;
    background-color: var(--primaryColor);
    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
    
}
.footer__wrapper{
    color: white;
}
.footer__wrapper p{
 text-align: center;
}