<div class="achievement__section">
    <div class="container">
        <div class="achievement__heading">
            <span>Achievement</span>
        </div>
        <div class="achievement__content">
            <div class="left">
                    <div class="content__btn">
                        <button class="active">EVENTS</button>
                        <button>AWARDS</button>
                        <button>MORE</button>
                    </div>
                    <div class="content__layer">
                        <div class="layer__img">
                            <div class="img__link">
                                <img src="../../assets/event1.jpeg" alt="">
                            </div>
                            <div class="img__pagination">
                                <div class="arrow_right">
                                    <span class="material-symbols-outlined">arrow_left </span>
                                </div>
                                <p>..1<span>2</span>3..</p>
                                <div class="arrow_right">
                                    <span class="material-symbols-outlined">arrow_right </span>
                                </div>
                            </div>
                        </div>
                        <div class="layer__description">
                            <div class="description__text">
                                <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                                    Perspiciatis, eos magni illo nihil saepe dolores, possimus mollitia 
                                    cupiditate laudantium dolor doloribus 
                                    aperiam ducimus inventore iusto ullam quos itaque vero quasi?
                                </span>
                            </div>
                            <div class="description__btn">
                                <button (click)="isOpen()">Gallery</button>
                                <button>Certificates</button>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="right">
                <div class="right__shape">
                    <img src="../../assets/Polygon 2 (3).png" alt="">
                </div>
            </div>
    
        </div>
    </div>

</div>