<div class="student__addNew">
    <div class="form__contant">
        <div class="form__fields">
            <form action="">
                <table>
                    <tr>
                        <td><span class="span__data">First Name</span></td>
                        <td><input class="input__data" type="text"></td>
                    </tr>
                    <tr>
                        <td><span class="span__data">Last Name</span></td>
                        <td><input class="input__data" type="text"></td>
                    </tr>
                    <tr>
                        <td><span class="span__data">DOB</span></td>
                        <td><input class="input__data" type="date"></td>
                    </tr>
                    <tr>
                        <td><span class="span__data">Gender</span></td>
                        <td>
                            <select name="" id="" class="input__data select__data">
                                <option value="">Male</option>
                                <option value="">Female</option>
                                <option value="">prefer to say no</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="span__data">District</span></td>
                        <td><input class="input__data" type="text"></td>
                    </tr>
                    <tr>
                        <td><span class="span__data">Address</span></td>
                        <td><textarea class="input__data" ></textarea></td>
                    </tr>
                    <tr>
                        <td><span class="span__data">Contact No</span></td>
                        <td><input class="input__data" type="text"></td>
                    </tr>
                    <tr>
                        <td><span class="span__data">Grade</span></td>
                        <td><input class="input__data" type="text"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="form__img">
            <img src="../../assets/teacher2.jpeg" alt="">
            <button>Add Teacher</button>
        </div>
    </div>
    <div class="form__Actions">
        <button>Save</button>
        <button>Cancel</button>
        <button>Close</button>
    </div>
</div>