<div class="students ">
    <div class="student__list">
        <div class="students__list__header">
            <div class="students__list__title">
                <span class="material-symbols-outlined">account_circle</span> 
                <span>Student main details</span>
            </div>
            <a routerLink="/addnew" class="student__list__options">
                <button><span class="material-symbols-outlined">person_add</span>AddNew</button>
            </a>
        </div>
        <div class="student__searchbar">
            <div class="student__Search-and-input">
                <span class="material-symbols-outlined icon__color">search</span>
                <input type="text" [(ngModel)]="this.searchElement">
            </div>
            <div class="stuent__star" (click)="searchStudent()">
                <span class="material-symbols-outlined icon__color">kid_star</span>
            </div>
        </div>
        <div class="student__details">
            <table class="student__details__table">
                <thead>
                    <!-- <tr>
                        <th>FullName</th>
                        <th>Actions</th>
                    </tr> -->
                </thead>
                <tbody>
                    <tr class="student__records" *ngFor="let stuObj of __student.student">
                        <td colspan="4">
                            <app-student-preview (click)="__student. setSelectedStudent(stuObj)"  [firstName]="stuObj.first_name" [lastName]="stuObj.last_name" [grade]="stuObj.grade" [contactNo]="stuObj.contact"></app-student-preview>
                        </td>
                        <td class="actions__btn">
                             <app-actions class="action"></app-actions>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <!-- <div class="student__list__table"> -->
            <!-- <div *ngFor="let stuObj of __student.student" >
                <app-student-preview (click)="__student. setSelectedStudent(stuObj)"  [firstName]="stuObj.first_name" [lastName]="stuObj.last_name" [grade]="stuObj.grade" [contactNo]="stuObj.contact"></app-student-preview>
            </div> -->
        <!-- </div> -->
    </div>
    <div class="print__btn">
        <button (click)="print()">print</button>
    </div>
</div>

