.student__list__options{
    padding: 5px;
    text-decoration: none;
}
.students__list__header{
    display: flex;
    justify-content: space-between;
}
.students__list__title{
    font-size: large;
    display: flex;
    align-items: center;
}
.student__list__options button{
    padding: 8px 15px;
    border-radius: 10px;
    background-color:var(--secondaryColor);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.student__list__options button:hover{
    padding: 8px 15px;
    border-radius: 10px;
    color:var(--secondaryColor);
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.student__list__options button span{
    margin-right: 10px;
}
.student__list__table{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 10px;
   background-color: rgba(255, 255, 255,0.9);
   width: 100%;
   /* border: 1px solid var(--secondaryColor); */
   border-radius: 10px;
   /* border: 1px solid black; */
}

.student__table__thead__tr > th{
    padding: 5px;
    margin-top: 10px;
    font-size: large;
    text-align: center;
    /* border: 1px solid yellow; */
}

.student__table__tbody{
}
.student__table__tbody > tr > td{
  
    padding:5px 15px;
    text-transform: capitalize;
}

.student__delete{
   color: red;
}
.student__delete__button,.student__edit__button{
    margin-left: 5px;
    outline: none;
    border: none;
    background-color: transparent;
}
.student__edit__button:hover{
    background-color:rgb(7, 129, 74);
    outline: none;
}
.student__delete__button:hover{
    background-color:red;
    outline: none;
}
.student__edit{
   color: rgb(7, 129, 74);
}
.student__edit:hover{
    color: rgb(255, 255, 255);
 }
 .student__delete:hover{
    color: rgb(255, 255, 255);
 }



 
 
 