.students__list__header{
    display: flex;
    justify-content: space-between;
}
.students__list__title{
    font-size: large;
}
.student__list__options button{
    padding: 8px 15px;
    border-radius: 10px;
    background-color:var(--secondaryColor);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.student__list__options button span{
    margin-right: 10px;
}
.student__list__table{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}
.student__table__thead > th{
    padding:0px 0px 10px;
    /* border: 1px solid yellow; */
}
.student__table__tbody > tr{
    margin: 10px 0px;
}