/* form css*/
.students__addNew{
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-content: space-around;
   height: 78vh;
   width: 90%;
   margin: auto;
}
.form__contant{
    display: flex;
    justify-content: space-between;
    width: 100%;
 }
 .form__fields{
    width: 70%;
   margin-right: 20px;
 }
 .form__fields > form > table > tr > td{
    /* margin-top: 5px; */
 }
 .form__fields > form > table > tr > td:nth-child(1){
    text-align: left;
    /* padding-right: 20px; */
 }
form > table{
    width: 100%;
}
 .form__img{
   width: 30%;
   /* margin-left: 20px; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /* border: 1px solid; */
 }
 .form__img {
   /* height: 100%; */

 }
 .form__img__div{
   width: 100%;
}
.form__img__div img{
   object-fit: cover;
   height: 44vh;
   width: 100%;

 }
 .form__img button{
    width: 100%;
    background-color: var(--secondaryColor);
    outline: none;
    border: none;
    padding:8px 15px;
    color: white;
  }
 .span__data{
    width: 100%;
    font-size: large;
 }
.input__data{
    width: 100%;
    padding:8px 15px;
    outline: none;
    border: none;
}
.form__Actions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .form__Actions button{
      width: 30%;
      padding:8px 20px;
      background-color: var(--secondaryColor);
      outline: none;
      border: none;
      cursor: pointer;
      color: white;
 }