<div class="app__main__div">
  <div class="app__container">
    <div class="app__title">
      <div><h1>To-Do List App</h1></div>
    </div>
    <div class="app_search">
      <div class="app__input">
        <input type="text" placeholder="Enter Task..."/>
      </div>
      <!-- <div class="app__button">
        <button>Add</button>
      </div> -->
      <app-button btnName="ADD" bg_color="#70babd" txt_color="yellow"></app-button>
    </div>
    <div class="app__data">
      </div>
      <app-card todoName="meeting 1"></app-card>
      <app-card todoName="research meeting"></app-card>
      <app-card todoName="birthday party"></app-card>
   
    <!-- <div>
      <input type="radio" name="logger" [(ngModel)]="logger">user
      <input type="radio" name="logger" [(ngModel)]="logger">Admin
    </div> -->
  </div>
</div>
