.app__main__div{
    background-image: linear-gradient(to right, rgb(121, 162, 177) , rgb(37, 204, 190));
     height: 100vh;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app__container{
    padding:50px 150px 150px 150px;
    background-color: #026068;
    border-radius: 10px;
    text-align: right;
    overflow: hidden;
}

.app__title h1{
    text-align: center;
    color: #70babd;
}

.app_search{
    display: flex;
    margin-top: 25px;
    border-radius: 8px;
    border: 1px solid white;
}

.app__input input{
    padding: 17px 70px;
    border:none;
    border-radius: 8px;
    width: 100%;
}

.app__button{
    display: flex;
}

.app__button button{
    padding: 17px 42px;
    border: none;
    border-radius: 8px;
    margin-left: 32px;
    background-color: #026068;
    color: #70babd;
    font-size: 13px;
}

.app__data{
    display: flex;
}
@media (max-width:320px) {
    .app__container{
        height: 100vh;
        overflow: hidden;
        width: 75%;
    }
    .app__input{
        /* margin: 10px;
        border: none; */
    }
    .app_search{
        /* border: none; */
        margin: 10px;
        border: 1px solid white;
    }
    .app__button button{
        padding: 0px 44px;
        
    }
    
}
@media (max-width:375px) {
    
}
@media (max-width:425px) {
    
}
