<div class="app__main__div">
  <div class="app__container">
    <div class="app__title">
      <div><h1>To-Do List App</h1></div>
    </div>
    <div class="app_search">
        <div class="app__input">
          <input id="inputData" type="text" placeholder="Enter Task..."/>
        </div>
        <div class="app__button">
          <button  (click)="this.todoService.addTodo()">Add</button>
        </div>
      </div>
      <!-- <app-button btnName="ADD" bg_color="#70babd" txt_color="yellow" ></app-button>
    </div> -->
    <div class="app__data" *ngFor="let todo of this.todoService.todo">
      <app-card [todoName]="todo.todoName" [id]="todo.id"></app-card>
    </div>
      

   
    <!-- <div>
      <input type="radio" name="logger" [(ngModel)]="logger">user
      <input type="radio" name="logger" [(ngModel)]="logger">Admin
    </div> -->
  </div>
</div>
