<div class="teacher__data">
    <section class="header__section">
        <span>header</span>
    </section>
    <section class="home__section">
        <section class="inner__section__home">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolore ipsum inventore quod officiis tempora, accusantium enim reprehenderit ducimus quo sunt, modi voluptatibus perspiciatis voluptatem delectus iusto sint unde sit incidunt at impedit earum ad voluptate. Obcaecati debitis accusamus eligendi, ex fuga magnam vero sint dolores maiores fugiat quos veniam!</span>
        </section>
        <section class="inner__section__about">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolorum eaque necessitatibus omnis obcaecati quidem a pariatur reiciendis rerum unde beatae ducimus ea, accusantium quisquam doloremque quibusdam nam nesciunt ut ex hic odit consectetur commodi dicta. Illo non voluptate consectetur reprehenderit molestiae. Maxime odio aut in nihil reprehenderit omnis blanditiis!</span>
        </section>
        <section class="inner__section__project">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sunt sint perferendis aliquam distinctio quam reiciendis, accusamus consequatur voluptatibus. Repellendus, doloribus a sed vero voluptatibus illum temporibus omnis architecto, possimus debitis aut quam ipsum ea eius! Dolore quidem omnis unde porro accusamus suscipit, itaque dicta vero nam assumenda possimus ad?</span>
        </section>
    </section>
    <section class="footer">
        <span>footer</span>
    </section>
</div>
