  <div class="app__style">
    <div class="home__left__content">
      <h1>I'M CHANYAN KUMAR</h1>
      <H3>FULLSTACK DEVELOPER</H3>
    </div>
    <div class="component__content">
      <div id="home">
        <app-home></app-home>
      </div>
      <div id="about">
        <app-about></app-about>
      </div>
      <div id="projects">
        <app-projects></app-projects>
      </div>
      <div id="achievement">
        <app-achievement></app-achievement>
      </div>
      <div id="contact">
        <app-contact></app-contact>
      </div>
      <div id="footer">
        <app-footer></app-footer>
      </div>
      <app-gallery *ngIf="__common.isOpenGallery"></app-gallery>
      
      
      
      
      
      
      <!-- <app-project-popup></app-project-popup> -->
    </div>
  
  </div>