<div>
    <div class="result__div__top">
        <div class="result__heading">
            <h2>Result Sheet</h2>
        </div>
        <div class="result__img">
            <img src="../../assets/person.png" alt="">
        </div>
    </div>
    <div class="result__div__bottum">
        <div class="student__details">
            <table class="student__details__table">
                <tr>
                    <td>First Name</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                </tr>
                <tr>
                    <td>DOB</td>
                </tr>
                <tr>
                    <td>Gender</td>
                </tr>
                <tr>
                    <td>Address</td>
                </tr>   
                <tr>
                    <td>District</td>
                </tr>    
                <tr>
                    <td>Contact</td>
                </tr> 
                <tr>
                    <td>Grade</td>
                </tr>  

            </table>
        </div>
        <div class="marks__details">
            <div>
                
                <table>
                    <tr>
                        <td>tamil</td>
                        <td>50</td>
                        <td>C</td>
                    </tr>
                    <tr>
                        <td>science</td>
                        <td>56</td>
                        <td>C</td>
                    </tr>
                </table>
            </div>
            <div>
                <td>TotalMarks :</td>
                <td>Average :</td>
            </div>
        </div>
    </div>
</div>
