<div class="left__pannel">
   <div class="left__menu">
    <span class="left__menu__icon material-symbols-outlined">home</span>
    <span class="left__menu__name">Home</span>
   </div>

   <div class="left__menu">
    <span class="left__menu__icon material-symbols-outlined">list_alt</span>
    <span class="left__menu__name">Goods Main Details</span>
   </div>

   <div class="left__menu">
    <span class="left__menu__icon material-symbols-outlined">add_shopping_cart</span>
    <span class="left__menu__name">In Stock</span>
   </div>

   <div class="left__menu">
    <span class="left__menu__icon material-symbols-outlined">shopping_cart_checkout</span>
    <span class="left__menu__name">Out Stock</span>
   </div>

   <div class="left__menu">
    <span class="left__menu__icon material-symbols-outlined">clinical_notes </span>
    <span class="left__menu__name">Nurse Duty</span>
   </div>

   <div class="left__menu">
    <span class="left__menu__icon material-symbols-outlined"> id_card</span>
    <span class="left__menu__name">Home Admission</span>
   </div>

   <div class="left__menu">
    <span class="left__menu__icon material-symbols-outlined">plagiarism</span>
    <span class="left__menu__name">Search Report</span>
   </div>
   <div class="left__menu">
    <span class="left__menu__icon material-symbols-outlined">mark_chat_unread</span>
    <span class="left__menu__name">Notification</span>
   </div>

   <div class="left__menu">
    <span class="left__menu__icon material-symbols-outlined">settings</span>
    <span class="left__menu__name">Setting</span>
   </div>
</div>