<div class="left__pannel">
   <div class="left__menu">
    <span class="left__menu__icon material-symbols-outlined">home</span>
    <span *ngIf="!mainservice.isMinimized" class="left__menu__name">Home</span>
   </div>

   <a routerLink="/" routerLinkActive="active"  class="left__menu">
      <span class="left__menu__icon material-symbols-outlined">boy</span>
      <span *ngIf="!mainservice.isMinimized" class="left__menu__name">Student</span>
      
   <!--  [routerLink]="'student'" -->
   </a>

   <a routerLink="/teacher" routerLinkActive="active"  class="left__menu">
      <span class="left__menu__icon material-symbols-outlined">supervisor_account</span>
      <span *ngIf="!mainservice.isMinimized" class="left__menu__name">Teacher</span>
   </a>

   <a routerLink="/examresult" class="left__menu">
      <span class="left__menu__icon material-symbols-outlined">description</span>
      <span *ngIf="!mainservice.isMinimized" class="left__menu__name">Exam Result</span>
   </a>

   <div class="left__menu">
      <span class="left__menu__icon material-symbols-outlined">clinical_notes </span>
      <span *ngIf="!mainservice.isMinimized" class="left__menu__name">Attendance</span>
   </div>

   <div class="left__menu">
      <span class="left__menu__icon material-symbols-outlined">plagiarism</span>
      <span *ngIf="!mainservice.isMinimized" class="left__menu__name">Search Report</span>
   </div>
   
   <div class="left__menu">
      <span class="left__menu__icon material-symbols-outlined">mark_chat_unread</span>
      <span *ngIf="!mainservice.isMinimized" class="left__menu__name">Notification</span>
   </div>

   <div class="left__menu">
      <span class="left__menu__icon material-symbols-outlined">settings</span>
      <span *ngIf="!mainservice.isMinimized" class="left__menu__name">Setting</span>
   </div>
</div>