.left__pannel{
    background-color:rgb(243, 243, 243);
    display: flex;
    justify-content: flex;
    flex-direction: column;
    height: 80vh;
}
.left__menu{
    display: flex;
    align-items: center;
    justify-content: flex;
    background-color:white;
    margin-top: 5px;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    
}
.left__menu:hover{
    background-color: var(--secondaryColor);
    color:white;
    
}
.left__menu__icon{
    font-size:30px;
}
.left__menu__name{
    font-size: 18px;
    font-weight: lighter;
    padding-left: 2%;
}