.home{
    /* background-color: var(--home); */
    padding-left: 5%;
    padding-right:5%;
    padding-top:3%;
    
}
/* .home__left{
    width: 12%;
}
.left__mini{
    width: 5%;
} */
/* .home__right{
    width: 88%;
} */
