.home{
    /* background-color: var(--home); */
    padding-left: 2%;
    padding-right:2%;
    
}
.home__left{
    width: 12%;
    /* border: 1px solid; */
    float: left;
}
.left__mini{
    width: 5%;
}
.home__right{
    width: 88%;
    /* border: 1px solid; */
    float: right;
}
/* @media screen and (min-width: 480px) {
   
} */
