/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    background-color: rgb(235, 241, 241);
}
:root{
    --primaryColor:#053B50;
    --secondaryColor:rgb(23, 107, 135);
    --textColor:rgb(100, 204, 197); 
    --home:#dbe1e1;
}
.icon__color{
    color: #053B50;
    cursor: pointer;
}
.make__center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__size{
    font-size: 30px;
}
/* menu */
.menu__select{
    background-color:rgba(23, 107, 135,0.1);
    border-bottom: 3px solid var(--primaryColor);
}

/* searchbar */

.student__searchbar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(209, 229, 228);
    background-color: rgba(255, 255, 255,0.7);
    border-radius:5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .student__Search-and-input{
    display: flex;
    border: 1px solid var(--secondaryColor);
    width: 95%;
    padding: 10px;
    background-color: white;
    border-radius:5px;
 }
 .student__Search-and-input > input{
    width: 100%;
    border: none;
    outline: none;
 }

 .stuent__star{
    border: 1px solid var(--secondaryColor);
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius:5px;
    margin-left: 1%;
    
 }
.stuent__star span{
    color: var(--primaryColor);
 }

 /* Actions */
 .dropdown{
    position: relative;
 }
 .dropdown button{
    outline: none;
    border: none;
    background-color: transparent;
 }
 .span__more_vert{
    cursor: pointer;
    /* background-color: rgba(201, 201, 201, 0.9); */
    border-radius: 50%;
    padding: 5px;
 }
 .span__more_vert:hover{
    background-color: rgba(214, 214, 214, 0.9);
 }
 .dropdown-content__block{
    position: absolute;
    background-color: rgba(200, 234, 239, 0.9);
    /* padding: 15px; */
    border-radius: 5px;
    display: block;
    top: 0px;
    right: 30px;
    border: 1px solid rgba(23, 107, 135,0.1);
 }
 .dropdown-content__hidden{
    display: none;
 }
 .dropdown-content button{
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    color:var(--secondaryColor);
    padding:5px 25px;
    width: 100%;
    /* margin-top: 2px; */
    /* border: 1px solid black; */
 }
 .dropdown-content > button > span{
    display: flex;
    justify-content: left;
    align-items: left;
    cursor: pointer;
    color:var(--secondaryColor);
   margin-right: 5px;
    
 }
 .dropdown-content > button:hover{
    background-color:white;
    border-radius: 5px;
    /* border-radius: 5px; */
    /* border-bottom: 1px solid var(--primaryColor); */
   
 }

 /* student name logo */
 .students__list__title{
   font-size: large;
   display: flex;
   align-items: center;
}
.students__list__title span:nth-child(1){
   margin-right:10px;
   background-color: rgba(255, 255, 255,0.6);
   padding: 5px;
   border-radius: 50%;
   font-size: 30px;
   color: var(--secondaryColor);
   
}
.add__image{
   position: relative;
}
.add__image img{
   height: 150px;
   width: 150px;
   position: absolute;
  /* bottom: 0px; */
  left:-75px;
  top:-110px;
}

/* left pannel */
.left__pannel{
   background-color:rgb(243, 243, 243);
   display: flex;
   justify-content: flex;
   flex-direction: column;
   height: 80vh;
}
.left__menu{
   display: flex;
   align-items: center;
   justify-content: left;
   background-color:white;
   margin-top: 5px;
   padding: 10px;
   border-radius:5px;
   text-decoration: none;
   color: black;
}
.left__menu:hover{
   background-color: var(--secondaryColor);
   color:white;
   
}
.left__menu__icon{
   font-size:30px;
   /* padding-left: 10%; */
}
.left__menu__name{
   font-size: 18px;
   font-weight: lighter;
   /* padding-left: 2%; */
}
