/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    background-color: rgb(235, 241, 241);
}
:root{
    --primaryColor:#053B50;
    --secondaryColor:#176B87;
    --textColor:#64CCC5; 
    --home:#dbe1e1;
}
.icon__color{
    color: white;
    cursor: pointer;
}
.make__center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__size{
    font-size: 30px;
}
