<div class="menu-item">
    <div class="container">
        <div class="menu">
            <ul>
                <li [routerLink]=" ['']">பிரதான மெனு</li>
                <li [routerLink]=" ['main-account']">பிரதான கணக‍்கு</li>
                <li [routerLink]=" ['farm-account']">பண்னண கணக‍்கு</li>
                <li [routerLink]=" ['house-keeping-account']">பராமரிப்புஇல்ல கணக‍்கு</li>
                <li [routerLink]=" ['user-management']">User Management</li>
                <li [routerLink]=" ['setting']">Setting</li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
