.menu-item{
    background-color: rgb(243, 243, 148);
}
.container{
    background-color: rgb(243, 243, 92);
    width: 80%;
    margin: auto;
}
.menu ul{
text-decoration: none;
display: flex;
justify-content: space-between;
}
.menu ul li{
    list-style: none;
    padding:10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}