.header{
    background-color: var(--primaryColor);
    height: 10vh;
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
.header__left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__medi__logo{
    width: 60px;
    height: 60px;
}
.header__left > span{
    padding-right: 15%;
    cursor: pointer;
}
.header__right{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header__right > span{
    padding-left: 15%;
    cursor: pointer;
}
.header__right input{
    /* padding: 5px 20px; */
}

