<div class="header">
    <div class="header__left">
        <span *ngIf="!mainService.isMinimized" class="material-symbols-outlined icon__color icon__size" (click)="mainService.toggle()">menu</span>
        <span *ngIf="mainService.isMinimized" class="material-symbols-outlined icon__color icon__size" (click)="mainService.toggle()"> menu_open</span>
        <img class="header__medi__logo " src="../../assets/medi_logo.png" alt="medi_logo">
    </div>
    <div class="header__right">
        <div class="make__center" >
            <!-- <input type="text"> -->
            <span class="material-symbols-outlined icon__color icon__size"> search</span>
        </div>
        <div>

            
        </div>
        <span class="material-symbols-outlined icon__color icon__size">circle_notifications </span>
        <span class="material-symbols-outlined icon__color icon__size">account_circle</span>
    </div>
</div>