.header{
    background-color:white;
    height: 10vh;
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
.header__left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__medi__logo{
    width: 60px;
    height: 60px;
}
.header__left > span{
    padding-right: 15%;
    cursor: pointer;
}
.header__right{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header__right > span{
    padding-left: 15%;
    cursor: pointer;
}
.header__right input{
    /* padding: 5px 20px; */
}

/* nav list */
.header__style{
    display: flex;
    align-items: center;
   
}
.header__nav__list > ul{
    text-decoration: none;
    display: flex;
}
.header__nav__list > ul > li{
    list-style: none;
}
.header__nav__list > ul > li > a{
    text-decoration: none;
    color: var(--primaryColor);
    padding:10px;
    cursor: pointer;
    border-radius:3px;
}
.header__nav__list > ul > li > a:hover{
    background-color:rgba(23, 107, 135,0.1);
    border-bottom: 3px solid var(--primaryColor);
    
}

.header__left__menu{
    display: none;
}
.span__more_vert{
    display: none;

}
.make__center__min__block{
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 55px;
    padding:10px 15px;
    background-color: rgba(23, 107, 135, 0.995);
    color: white;
    border-radius: 5px;

}
.make__center__min__none{
    display: none;
}

/* .header-menu__item--active{
    color: var(--primaryColor);
    background-color: var(--primaryColor);
} */

@media (max-width:768px){
    .header__left__menu{
        display: block;
    }
    .header__nav__list{
        display: none;
    }
    .span__more_vert{
        display: block;
        
    }
    .make__center{
        display: none;
    }
}