
<div class="students">
    <div class="student__list">
        <div class="students__list__header">
            <div class="students__list__title">
                <span class="material-symbols-outlined">file_present</span>
                <span>Exam Result Details</span>
            </div>
            <a routerLink="/add-examresult" class="student__list__options">
                <button ><span class="material-symbols-outlined">person_add</span>AddNew</button>
            </a>
        </div>
        <div class="student__searchbar">
            <div class="student__Search-and-input">
                <span class="material-symbols-outlined icon__color">search</span>
                <input type="text">
            </div>
            <div class="stuent__star">
                <span class="material-symbols-outlined icon__color">kid_star</span>
            </div>
        </div>
        <div class="student__list__table">
                <table>
                        <tr  *ngFor="let resultObj of __result.resultList">
                            <div class="student__list__right">
                                <div class="student__img">
                                    <img src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg" alt="">
                                </div>
                                <div class="examresult__details">
                                    <div class="inner__details">
                                        <td (click)="__result.setResultObj(resultObj)"> <span>Id :</span> {{resultObj.result_id}} <span> Student Id :</span> {{resultObj.student_id}} <span> Teacher Id : </span>{{resultObj.teacher_id}}</td>
                                        <td><span>Grade : </span>{{resultObj.grade}} <span> Term : </span> {{resultObj.term}}</td>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="actions__content">
                                <div>
                                    <td class="action"><app-actions></app-actions></td>
                                </div>
                                <div class="student__actions">
                                    <button class="student__actions__edit" >Edit</button>
                                    <button class="student__actions__delete">Delete</button>
                                </div>
                            </div>
                        </tr>
                    <!-- </tbody> -->
                    
                </table>
               
        </div>
    </div>
</div>
