
<div class="students">
    <div class="student__list">
        <div class="students__list__header">
            <div class="students__list__title">
                Exam Result Details
            </div>
            <a routerLink="/add-examresult" class="student__list__options">
                <button ><span class="material-symbols-outlined">person_add</span>AddNew</button>
            </a>
        </div>
        <div class="student__searchbar">
            <div class="student__Search-and-input">
                <span class="material-symbols-outlined icon__color">search</span>
                <input type="text">
            </div>
            <div class="stuent__star">
                <span class="material-symbols-outlined icon__color">kid_star</span>
            </div>
        </div>
        <div class="student__list__table">
            <table>
                <thead class="student__table__thead">
                    <tr class="student__table__thead__tr">
                        <th>Id</th>
                        <th>Student Name</th>
                        <th>Grade</th>
                        <th>Term</th>
                        <th>Total Marks</th>
                        <th>Average</th>
                        <th>Teacher's Option</th>
                        <th>Teacher Name</th>
                        <th>Attend Days</th>
                        <th>TSD</th>
                        <th>TED</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <!-- <tbody class="student__table__tbody" *ngFor="let item of teacherObj">
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.first_name}}</td>
                        <td>{{item.last_name}}</td>
                        <td>{{item.dob}}</td>
                        <td>{{item.gender}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.district}}</td>
                        <td>{{item.contact}}</td>
                        <td>{{item.grade}}</td>
                        <td>
                            <button class="student__edit__button"><span class="student__edit material-symbols-outlined">edit</span></button>
                            <button class="student__delete__button"><span class="student__delete material-symbols-outlined">delete</span></button>
                        </td>
                    </tr>
                </tbody> -->
            </table>
        </div>
    </div>
</div>
