
<div class="gallery__comp">
    <div class="gallery__section">
        <div class="close__span">
            <span>Gallery</span>
            <span (click)="isClose()" class="material-symbols-outlined">close</span>
        </div>
        <div class="main__img">
            <div class="img__link">
                <img src="../../assets/event1.jpeg" alt="">
            </div>
            <div class="img__collection">
                <div class="img__description">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, corrupti?
                         Numquam, molestiae adipisci cumque animi aspernatur, 
                        voluptate quidem placeat laboriosam quasi eius excepturi
                         distinctio incidunt sed nesciunt. Quasi, nemo fuga!</span>
                </div>
                <div class="img__container">
                    <div class="img__section">
                        <img src="../../assets/IMG_20231015_012036.jpg" alt="">
                    </div>
                    <div class="img__section">
                        <img src="../../assets/IMG_20231015_065449.jpg" alt="">
                    </div>
                    <div class="img__section">
                        <img src="../../assets/IMG_20231015_065454.jpg" alt="">
                    </div>
                </div>
               
            </div>
        </div>
       
    </div>
</div>