
<div class="student__container">
    <div class="student__popup">
        <div class="student__popup__close">
            <span>{{__student.selectedStudent.first_name}}{{'  '}}{{__student.selectedStudent.last_name}}</span>
            <span (click)="onClose()" class="material-symbols-outlined">close_small</span>
        </div>
        <div class="student__popup__records">
            <div class="student__popup__details">
                <table>
                    <tbody class="student__table__tbody">
                        <tr>
                            <td>Id </td>
                            <td>:</td>
                            <td>{{__student.selectedStudent.id}}</td>
                        </tr>
                        <tr>
                            <td>first name </td>
                            <td>:</td>
                            <td>{{__student.selectedStudent.first_name}}</td>
                        </tr>
                        <tr>
                            <td>last name </td>
                            <td>:</td>
                            <td>{{__student.selectedStudent.last_name}}</td>
                        </tr>
                        <tr>
                            <td>Grade </td>
                            <td>:</td>
                            <td>{{__student.selectedStudent.grade}}</td>
                        </tr>
                        <tr>
                            <td>Address </td>
                            <td>:</td>
                            <td>{{__student.selectedStudent.address}}</td>
                        </tr>
                        <tr>
                            <td>District</td>
                            <td>:</td>
                            <td>{{__student.selectedStudent.district}}</td>
                        </tr>
                        <tr>
                            <td>contact no </td>
                            <td>:</td>
                            <td>{{__student.selectedStudent.contact}}</td>
                        </tr>
                        <tr>
                            <td>DOB</td>
                            <td>:</td>
                            <td>{{__student.selectedStudent.dob}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="student__popup__img">
                <img src="../../assets/student3__img.png" alt="">
            </div>
        </div>
    </div>
</div>
