<div class="about__section">
    <div class="container">
        <div class="about__heading">
            <span>Contact Me</span>
        </div>
        <div class="about__content">
            <div class="left">
                <div class="left__shape">
                    <img src="../../assets/Polygon 2 (2).png" alt="">
                </div>
            </div>
            <div class="right">
                <div class="right__content">
                    <span>CONTACT <span class="change__color">ME</span></span>
                </div>
                <div class="content__form">
                    <form action="">
                       <input type="text" placeholder="First Name">
                       <input type="text" placeholder="Last Name">
                       <input type="text" placeholder="Email">
                       <input type="text" placeholder="Address">
                       <input type="text" placeholder="Contact No">
                       <textarea rows="5" placeholder="Enter subject here"></textarea>
                    </form>
                </div>
                <div class="about__btn">
                    <button>SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>